@font-face {
  font-family: 'Proxima Nova';
  src:
    local('Proxima Nova'),
    url('../fonts/proxima_novabold-webfont.woff2') format('woff2'),
    url('../fonts/proxima_novabold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.exp_the_rush {
  background: url(../img/background-3.jpg) no-repeat center top / cover;
  height: 457px;
}

h1 {
  padding: 116px 0 12px 0;
  letter-spacing: -1px;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
}

/* .inner {
  margin: 0 auto;
  padding: 0 108px;
} */

.text {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: rgb(168, 123, 183);
  text-align: center;
  line-height: 1.65;
  margin-top: 6px;
  letter-spacing: -0.2px;
}

.button_container {
  display: flex;
  padding-top: 34px;
  justify-content: center;
}

.main_button {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.3px;
  color: rgb(255, 255, 255);
  padding: 20px 51px 19px 57px;
  background: #58c4c4;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.main_button:hover {
  background: #60d0d0;
}
