@font-face {
  font-family: 'proxima_novabold';
  src:
    url('../fonts/proxima_novabold-webfont.woff2') format('woff2'),
    url('../fonts/proxima_novabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.exp_the_rush {
  background: url(../img/background-3.jpg) no-repeat center top / cover;
  height: 457px;
}

h1 {
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.inner {
  margin: 0 auto;
  padding: 108px;
}

.text {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: rgb(168, 123, 183);
  text-align: center;
  margin-top: 10px;
}

.button {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'proxima_novabold', sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
  width: 220px;
  padding: 20px 0;
  margin: 0 auto;
  margin-top: 40px;
  background: #58c4c4;
  border-radius: 3px;
}
